::ng-deep .cdk-overlay-container {
    z-index:2000;
  }
.width100{
    width: 100% !important;
}
.cursor{
  cursor: pointer;
}
.textdec{
  text-decoration: line-through;
}
.textdec2{
  text-decoration: none;
}

.mat-cell {
  padding: 12px 12px 12px 50px;
}

.mat-header-cell {
  padding: 12px 12px 12px 50px;
}

/* mat-table {
  display: block;
  width: 100%;
  overflow-x: auto;
}
mat-table ng-container{
  width: 100px;
} */