<ng-template [ngIf]="!userSpinner">
 
    <div class="container" style="height: auto;">
        <div class="col-12">
            <button style="margin-left: 35px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Create
                New
                User</button>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Add New User</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="addUserForm">
                            <div class="col-12 mb-3">
                                <div class="form-group mt-2">
                                    <label for="">Email</label>
                                    <input type="email" formControlName="email" class="form-control">
                                </div>
                                <div class="form-group mt-2">
                                    <label for="">UserName</label>
                                    <input type="text" formControlName="userName" class="form-control">
                                </div>
                                <div class="form-group mt-2">

                                    <select class="form-select" aria-label="Default select example"
                                        formControlName="role">
                                        <option selected>Select A Role</option>
                                        <option *ngFor="let role of allRoles">{{role}}</option>
                                    </select>
                                </div>
                                <div class="form-group mt-2">
                                    <label for="">Password</label>
                                    <input type="password" class="form-control" formControlName="password">
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="addNewUser()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <h2 style="margin-left: 35px;">List Of All User</h2>
            </div>
        </div>
    </div>

    <section class='tableSection'>

        <mat-table class="matTable" [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="userName">
                <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.userName}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.role}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

        <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </section>
</ng-template>
<ng-template [ngIf]="userSpinner">
    <div class="d-flex justify-content-center" style="margin-top: 200px; margin-bottom: 200px;">
        <div class="spinner-border" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
</ng-template>